<% include header %>
<div class="aux">
  <section>
    <ul>
      <% posts.forEach(function (post) { %>
      <li><a href="<%= base_url + post.permalink %>"><%= post.title %></a></li>
      <% }) %>
    </ul>
  </section>
</div>
<% include footer %>
